/* COLORI ROOT */
:root {
  --blue: #0084fd;
  --lightblue: #b5ddff;
  --violet: #9792e4;
  --free: #fdc15f;
  --footer: #333333;
  --white: #ffffff;
  --black: #000000;
  --intro: #505050;
}

/**********
 GENERICS *
***********/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none;
  color: var(--white);
}

section {
  margin: 50px 0;
  padding: 50px 0;
}

section:last-child {
  margin-bottom: 0;
}

img {
  width: 100%;
}

p {
  font-size: 20px;
  line-height: 2rem;
}

/********
 UTILS  *
*********/
.container {
  margin-left: auto;
  margin-right: auto;
  max-width: 1140px;
  padding: 0 3rem;
}

.none {
  display: none;
}

.flex {
  display: flex;
}

.relative {
  position: relative;
}

.icon {
  font-size: 5rem;
  color: var(--blue);
}

/***********
 STRUCTURE *
************/
/* HEADER */
#header-top {
  height: 80px;
  width: 100%;
  background-color: var(--blue);
  color: var(--white);
  line-height: 80px;
  position: fixed;
  z-index: 10;
}

#header-top .container {
  justify-content: space-between;
}

#header-top .container nav {
  align-items: center;
}

.header-nav-r {
  color: var(--white);
  gap: 20px;
}

.header-nav-r div:first-child {
  font-size: 26px;
}

.nav-items:last-child a {
  color: var(--black);
  background-color: var(--white);
  border-radius: 16px;
  padding: 5px 10px;
}

/* PADDING HEADER */
header + * {
  padding-top: 80px;
}

/* INTRO */
#intro {
  margin-top: 0;
}

#intro .row {
  flex-direction: column;
  align-items: center;
}

#intro .col {
  width: 100%;
  background-color: var(--lightblue);
  margin: 1rem;
  border-radius: 20px;
  min-height: 200px;
  color: var(--intro);
}

#intro .exhibit h4 {
  font-size: 1.8rem;
  color: var(--blue);
  margin: 40px auto;
}

#intro .exhibit h5 {
  font-size: 1.4rem;
  color: var(--white);
  background-color: #0084fd;
  padding: 10px 45px;
  margin: 45px auto;
  border-radius: 23px;
  display: table;
}

#intro .pic img {
  display: block;
}

.apple i {
  margin: 0 7px;
}

.col.small {
  display: flex;
  justify-content: center;
  padding: 1.5rem 0;
  text-align: center;
}

.col.small h3 {
  font-size: 1.8rem;
  margin: 1.5rem 0;
  color: var(--blue);
}

.col.small p {
  line-height: 2rem;
  margin-bottom: 1rem;
}

/* STRATEGIC PLANNING */
#strategic-planning {
  background-color: var(--violet);
  color: var(--white);
}

#strategic-planning .row {
  flex-direction: column;
}

.planning-items:last-child {
  padding: 1rem;
}

#strategic-planning .planning-items {
  width: 100%;
  margin-bottom: 20px;
}

#strategic-planning .planning-items:last-child {
  background-color: var(--white);
  color: var(--black);
  text-align: center;
  border-radius: 50px;
}

#strategic-planning .image {
  margin: 6rem 0;
}

.planning-items h2 {
  font-size: 2.5rem;
  margin: 4rem 0;
}

.planning-items p {
  line-height: 2rem;
}

#strategic-planning .planning-items:last-child .image {
  margin: 0;
}

#strategic-planning .planning-items:last-child h4 {
  font-size: 1.6rem;
  margin: 2rem 0;
}

.download i {
  width: 3rem;
  height: 3rem;
  line-height: 3rem;
  background-color: var(--violet);
  font-size: 1.5rem;
  border-radius: 50%;
  margin: 3rem 0;
}

/* TESTIMONIALS */
#testimonials .col {
  width: 100%;
  min-height: 100px;
  background-color: var(--violet);
  border-radius: 20px;
  margin-bottom: 3rem;
  padding: 1rem;
  color: var(--white);
  font-size: 1.3rem;

  flex-direction: column;
  align-items: center;
}

#testimonials .exhibit {
  text-align: center;
}

#testimonials .exhibit h2 {
  color: var(--violet);
  margin: 3rem 0;
}

#testimonials .exhibit p:last-child {
  margin-bottom: 2rem;
}

#testimonials .card {
  width: 250px;
  height: 250px;
  aspect-ratio: 1;
  background-size: cover;
  background-position: center;
  border-radius: 50%;
  margin: 2rem;
}

#testimonials .col h4 {
  margin: 1.5rem 0;
}

#testimonials .card.st {
  background-image: url(../img/testimonial1.jpg);
}

#testimonials .card.nd {
  background-image: url(../img/testimonial2.jpg);
}

#testimonials .card.rd {
  background-image: url(../img/testimonial3.jpg);
}

/* BENEFITS */
#benefits {
  background-color: var(--violet);
  text-align: center;
}

#benefits h1 {
  font-size: 2.5rem;
  color: var(--white);
  margin: 3rem 0;
}

#benefits .row {
  flex-direction: column;
  align-items: center;
}

#benefits .cards {
  width: 100%;
  background-color: var(--white);
  color: var(--intro);
  margin: 1rem;
  min-height: 200px;
  border-radius: 20px;
  padding: 2rem;
  text-align: left;
}

#benefits .cards h2 {
  font-size: 4rem;
  color: var(--violet);
}

#benefits .cards h3 {
  font-size: 2rem;
  color: var(--violet);
  margin: 1.5rem 0;
}

#benefits .cards .btn {
  display: inline-block;
  background-color: var(--violet);
  color: var(--white);
  padding: 10px 50px;
  border-radius: 22px;
  margin: 2rem 0;
}

/* ABOUT US */
#aboutUs .row {
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

#aboutUs .aUs-items {
  width: 100%;
}

.aUs-items h2 {
  font-size: 2rem;
  color: var(--violet);
}

.aUs-items p {
  margin: 2rem 0;
}

.aUs-items .image {
  background-image: url(../img/about.jpg);
  width: 250px;
  height: 250px;
  aspect-ratio: 1;
  background-size: cover;
  background-position: center;
  border-radius: 50%;
  margin: 2rem;
}

.aUs-items .quote {
  font-size: 5rem;
  color: var(--violet);
  position: absolute;
  top: 25px;
  left: 210px;
}

.aUs-items h3 {
  font-size: 2rem;
  color: var(--violet);
}

.aUs-items .btn {
  display: inline-block;
  background-color: var(--violet);
  color: var(--white);
  padding: 10px 20px;
  border-radius: 22px;
  margin: 2rem 0;
}

/* GET STARTED */
#Gstarted {
  background-color: var(--violet);
  min-height: 200px;
  text-align: center;
  color: var(--white);

  flex-direction: column;
  align-items: center;
}

#Gstarted div {
  margin: 1.5rem 0;
}

#Gstarted h1 {
  font-size: 3rem;
  color: var(--free);
  margin: 2rem 0;
}

#Gstarted .btn {
  display: inline-block;
  font-weight: bold;
  color: var(--violet);
  background-color: var(--white);
  padding: 20px 60px;
  border-radius: 36px;
  margin: 2.5rem 0;
}

#Gstarted p a {
  text-decoration: underline;
}

/* FOOTER */
#footer {
  color: var(--white);
  background-color: var(--footer);
  text-align: center;
  min-height: 200px;

  flex-direction: column;
  align-items: center;
}

#footer p {
  padding: 2rem 0;
}

#footer p a {
  color: var(--violet);
  text-decoration: underline;
}

/************
 RESPONSIVE *
*************/
/* TABLET */
@media screen and (min-width: 576px) {
  /* INTRO */
  #intro .row .col {
    width: calc((100% / 3) - 2rem);
  }

  #intro .row .col:first-child {
    width: calc((100% / 3 * 2) - 2rem);
  }

  #intro .row {
    flex-direction: row;
    align-items: stretch;
    flex-wrap: wrap;
    margin: 0 -1rem;
  }

  #intro .exhibit h5 {
    display: inline-block;
  }

  #intro .pic img {
    width: 50%;
    display: block;
  }

  /* BENEFITS */
  #benefits .row {
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 -1rem;
  }

  #benefits .row .cards {
    width: calc((100% / 2) - 2rem);
  }

  /* TESTIMONIALS */
  #testimonials .col {
    flex-direction: row;
  }

  #testimonials .col .exhibit {
    text-align: left;
  }

  /* ABOUT US */
  #aboutUs .row {
    flex-direction: row;
    align-items: flex-start;
  }

  .aUs-items h2 {
    font-size: 5rem;
  }

  #aboutUs .aUs-items:last-child {
    width: calc(100% / 3);
  }

  /* GET STARTED */
  #Gstarted .container {
    max-width: 750px;
    margin: 0 5rem;
  }

  /* FOOTER */
  #footer .container {
    max-width: 750px;
  }
}

/* DESKTOP */
@media screen and (min-width: 992px) {
  /* HEADER */
  .header-nav-r div {
    display: inline-block;
  }

  .header-nav-r div:first-child {
    display: none;
  }

  /* INTRO */
  .intro-cards {
    display: flex;
    flex-direction: row;
  }

  .intro-cards .pic {
    align-self: flex-end;
  }

  #intro .pic img {
    width: 100%;
    display: block;
  }

  /* STRATEGIC-PLANNING */
  #strategic-planning {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #strategic-planning .container {
    padding: 0 7rem;
  }

  #strategic-planning .row {
    flex-direction: row;
    align-items: flex-end;
    gap: 50px;
  }

  #strategic-planning .planning-items {
    width: 50%;
  }

  .planning-items:last-child {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .planning-items:last-child .image {
    width: 50%;
    margin-top: 2rem;
  }

  /* BENEFITS */
  #benefits .row {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    margin: 0 -1rem;
  }

  #benefits .row .cards {
    width: calc((100% / 3) - 2rem);
  }
}

/*******
 DEBUG *
********/
.bordered {
  border: 1px dashed red;
}

.b-color {
  background-color: green;
  min-height: 200px;
}

.b-color1 {
  background-color: blue;
  min-height: 100px;
}
