/* COLORI ROOT */
:root {
  --blue: #0084fd;
  --lightblue: #b5ddff;
  --violet: #9792e4;
  --free: #fdc15f;
  --footer: #333333;
  --white: #ffffff;
  --black: #000000;
}

/**********
 GENERICS *
***********/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none;
  color: var(--white);
}

section {
  margin: 100px 0;
}

/********
 UTILS  *
*********/
.container {
  margin-left: auto;
  margin-right: auto;
  max-width: 1140px;
  padding: 0 2rem;
}

.none {
  display: none;
}

.flex {
  display: flex;
}

.relative {
  position: relative;
}

/***********
 STRUCTURE *
************/
/* HEADER */
#header-top {
  height: 80px;
  width: 100%;
  background-color: var(--blue);
  color: var(--white);
  line-height: 80px;
  position: fixed;
}

#header-top .container {
  justify-content: space-between;
}

#header-top .container nav {
  align-items: center;
}

.header-nav-r {
  color: var(--white);
  gap: 20px;
}

.header-nav-r div:first-child {
  font-size: 26px;
}

.nav-items:last-child a {
  color: var(--black);
  background-color: var(--white);
  border-radius: 16px;
  padding: 5px 10px;
}

/* PADDING HEADER */
header + * {
  padding-top: 80px;
}

/* INTRO */
#intro .row {
  flex-direction: column;
  align-items: center;
}

#intro .col {
  width: 100%;
  margin: 1rem;
  min-height: 200px;
}

/* STRATEGIC PLANNING */
#strategic-planning {
  background-color: var(--violet);
  color: var(--white);
}

#strategic-planning .row {
  flex-direction: column;
}

#strategic-planning .planning-items {
  width: 100%;
  margin-bottom: 20px;
}

/* TESTIMONIALS */
#testimonials .col {
  width: 100%;
  min-height: 100px;
  background-color: var(--violet);
  border-radius: 20px;
  margin-bottom: 20px;
}

/* BENEFITS */
#benefits {
  background-color: var(--violet);
}

#benefits .row {
  flex-direction: column;
  align-items: center;
}

#benefits .cards {
  width: 100%;
  background-color: var(--white);
  margin: 1rem;
  min-height: 200px;
}

/* ABOUT US */
#aboutUs .row {
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

#aboutUs .aUs-items {
  width: 100%;
}

/************
 RESPONSIVE *
*************/
/* TABLET */
@media screen and (min-width: 576px) {
  /* INTRO */
  #intro .row .col {
    width: calc((100% / 3) - 2rem);
  }

  #intro .row .col:first-child {
    width: calc((100% / 3 * 2) - 2rem);
  }

  #intro .row {
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 -1rem;
  }

  /* BENEFITS */
  #benefits .row {
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 -1rem;
  }

  #benefits .row .cards {
    width: calc((100% / 2) - 2rem);
  }

  /* ABOUT US */
  #aboutUs .row {
    flex-direction: row;
  }

  #aboutUs .aUs-items:last-child {
    width: calc(100% / 3);
  }
}

/* DESKTOP */
@media screen and (min-width: 992px) {
  /* HEADER */
  .header-nav-r div {
    display: inline-block;
  }

  .header-nav-r div:first-child {
    display: none;
  }

  /* STRATEGIC-PLANNING */
  #strategic-planning .container {
    margin: 0 3rem;
  }

  #strategic-planning .row {
    flex-direction: row;
  }

  #strategic-planning .planning-items {
    width: 50%;
  }

  /* BENEFITS */
  #benefits .row {
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 -1rem;
  }

  #benefits .row .cards {
    width: calc((100% / 3) - 2rem);
  }
}

/*******
 DEBUG *
********/
.bordered {
  border: 1px dashed red;
}

.b-color {
  background-color: green;
  min-height: 200px;
}

.b-color1 {
  background-color: blue;
  min-height: 100px;
}
